.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.horizontal {
  position: relative;
  display: flex;
  gap: 2rem;
}

.history {
  position: absolute;
  top: 1rem;
  background: red;
  width: 173px;
  z-index: 10;
}

.history li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.history li:hover {
  background-color: brown;
}